<div class="container">
    <div class="row mt-5">
        <div class="col-lg-9 col-sm-12 col-xs-12">
            <input type="text" placeholder="enter username" class="form-control"
            name="username" [(ngModel)]="username">
        </div>
        <div class="col-lg-3 col-sm-12 col-xs-12">
            <button class="btn btn-success" type="button" (click)="searchUser()">Search</button>
        </div>
    </div>
    <h2 class="mt-5 mb-3">Result</h2>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-scraped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ getData.fName }}</td>
                    <td>{{ getData.lName }}</td>
                    <td>{{ getData.age }}</td>
                    <td>{{ getData.username }}</td>
                    <td>{{ getData.password }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>