<hr class="bg-success w-26 mt-5">
<div class="container">
    <div class="row col-12">
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-5">
            <h2>Frontend Design</h2>
            <p>Stay Connected</p>
            <div>
                <p><a href="https://www.linkedin.com/in/varunrao1760/">
                    <i class='fab fa-linkedin'></i></a>
                    Linkedin Profile
                </p>
                <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                    varunrao1760@gmail.com
                </p>
                <p><a href="https://www.liberallines.blogspot.com">
                    <i class="fab-solid fa-blog"></i></a>
                    My Blog
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-5 mr-5">
            <h2>about me</h2>
            <p>I am a Software Engineer based in Chandigarh, India.<br> I enjoy learning new things daily.
                apart from that, I love to travel new locations, mostly Hills Station.
                I also like to cook at home which is lot more healthier than outside food.<br>
                It would be weird if I say "I play more outdoor games rather than sitting on a
                 couch and crush some video games. ;)" but honestly I do play badminton some times.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-5">
            <h2>Contact Me</h2>
            <p>varunrao1760@gmail.com</p>
            <p>let's design something new.</p>
        </div>
    </div>
</div>