<div class="container">
    <h2 class="mt-5 mb-4 text-center"> Welcome to Full Stack Java Development Page</h2>
    <hr class="w-26" style="border-top: 2px solid #ff8c00; border-radius: 100%;">
    <div id="div1">
        <h2 class="text1_3D">Welcome</h2>
        <h2 class="text3_3D">Users</h2>
    </div>
    <div class="text2_3D" id="div2">
        <h2 class="text_shadows">Hey</h2>
    </div>
    <div id="div3">
        <h2 class="text3_3D">Guys</h2>
    </div>
    <app-footer></app-footer>
</div>